:root {
    --first-text-color: #757575;
    --second-text-color: #212121;
    --accent-color: #2196F3;
    --footer-color: rgba(255, 255, 255, 0.6);
    --accent-background-color: #2F303A;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --portfolio-background: #F5F5F5;
    --portfolio-button: #F5F4FA;
    --button-hero-activ: #188CE8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 1600px;
    margin: 0 auto;
    background-color: var(--white-color);
    color: var(--first-text-color);
    line-height: 1.2;
}

ul {
    list-style: none;
}

.head-menu {
    width: 100%;
    height: 80px;
    padding-top: 30px;
}

.menu {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    margin-left: 215px;
    margin-right: 215px;

}

.nav-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.ul-header {
    padding-left: 0;
    margin-bottom: 0;
}

.li-nav {
    display: inline-block;
    padding-left: 50px;
}

.logom {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--black-color);
    text-decoration: none;
    margin-right: 90px;
    font-family: 'Raleway', sans-serif;
}

.logom .logo {
    color: var(--accent-color);
}

.link-nav {
    color: var(--second-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-nav:hover,
.link-nav:focus {
    color: var(--accent-color);
}

.link-nav.current {
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}